<!-- This is the default static template that the entire site uses. The head and the footer -->

<html>
<head>
  <title>Typing || 00</title>
  <link href="css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto|Coustard" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>

</html>
