

        <div id="status">I KNOW YOU ARE  --- <span>TYPING</span>!!!</div>


        <h2>THE TAIPIST!!</h2>
        <textarea id="text-box" placeholder="enter your message here!"></textarea>

        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="app.js"></script>
