
body {
    height: 100vh;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    text-align: center;
}

h2 {
    border-radius: 6px;
    display: inline-block;
    padding: 25px;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px
}

span {
    color: red
}

#status {
    display: none;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 390px;
    font-family: 'Coustard', serif;
    font-size: 23px;
    color: white;
    border-radius: 7px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

textarea#text-box {
    height: 300px;
    width: 70%;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font-size: 28px;
    color: black;
}
